html {
    background-color: #302e2b;
    user-select: none;
}

.container {
    font-family: Arial, Helvetica, sans-serif;
}

.game-container {
    margin-top: 2%;
    border-radius: 10px;
    transform: scale(1.2);
}


h1 {
    color: #ffffff;
    text-align: center;
}

p {
    color: #ffffff;
}

.board {
    margin-left: 34.5%;
}

.rows {
    display: flex;
}

.square {
    width: 75px;
    height: 75px;
}

.black-square {
    background-color: #b58863;
}

.white-square {
    background-color: #f0d9b5;
}

.pieces {
    margin-top: 1%;
    margin-left: -1%;
    height: 100%;
    transform: scale(.9);
}

.label {
    position: absolute;
}

.number {
    font-size: 20px;
    margin-left: 0.25%;
    margin-top: 0.25%;
}

.letter {
    font-size: 20px;
    margin-left: 3%;
    margin-top: 2.75%;
}

.black-number {
    color: #b58863;
}

.white-number {
    color: #f0d9b5;
}

.black-letter {
    color: #b58863;
}

.white-letter {
    color: #f0d9b5;
}