html {
    user-select: none;
}

.container {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

.board {
    margin-left: 34.5%;
}

.rows {
    display: flex;
}

.square {
    width: 75px;
    height: 75px;
}

.whiteSquare {
    background-color: #f0d9b5;
}

.blackSquare {
    background-color: #b58863;
}

.pieces {
    margin-top: 1%;
    margin-left: -1%;
    height: 100%;
    /* display: block;
    text-align: center; */
}